:root{
    color-scheme: light dark;
}

body{
    font-family: monospace;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerText{
    font-size: 1.2rem;
    width: 70%;
    max-width: 600px;
    line-height: 1.5;
}

span {
    color: #ffffff39;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 5px;
}
.block{
    cursor: not-allowed;
    background-color: #80ffc691;
}

.active{
    border-left: 2px solid #80ffc6;
}

.successful{
    color: #fff;
    border-bottom: 1px solid #80ffc6;
}

.error{
    color: #ff4e68;
    border-bottom: 1px solid #ff4e68;
}

.time{
    color: #80ffc6;
    font-weight: bold;
    font-size: 1rem;
}

.options{
    background-color: #222;
    display: flex;
    padding: 10px;
    border-radius: 20px;
    position: fixed;
    bottom: 20px;
    min-width: 170px;
    align-items: flex-end;
    gap: 50px;
    border: 1px outset #ffffff41;

    button{
        min-width: 30px;
        height: 30px;
    }
}

.times{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.times button{
    background-color: #333;
    color: #80ffc6;
    border: 1px inset #ffffff21;
}

.blockTime i{
    pointer-events: none;
}

.refresh{
    background-color: #80ffc6;
    color: #333;
}

.active-btn{
    background-color: transparent !important;
}

.results{
    display: none;
    gap: 20px;
    position: absolute;
    top: 5%;
}

.accuracy{
    background-color: #222;
    border: 1px outset #ffffff41;
    color: #80ffc6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    font-size: 3rem;
    border-radius: 20px;

    span{
        font-size: 1rem;
        color: #fff;
    }
}
.results div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.results div p{
    background-color: #222;
    border: 1px outset #ffffff41;
    flex-grow: 1;
    padding: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #80ffc6;
    font-size: 1.5rem;

    span{
        color: #fff;
        font-size: 1rem;
    }
}

.disabled{
    cursor: not-allowed;
    opacity: .5;
}